src/main/resources/wsdl/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/" name="AccountServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/" schemaLocation="http://localhost:9999/ws/hello?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"></part>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="getAccountByCustomerId">
<part name="parameters" element="tns:getAccountByCustomerId"></part>
</message>
<message name="getAccountByCustomerIdResponse">
<part name="parameters" element="tns:getAccountByCustomerIdResponse"></part>
</message>
<message name="debitAccount">
<part name="parameters" element="tns:debitAccount"></part>
</message>
<message name="debitAccountResponse">
<part name="parameters" element="tns:debitAccountResponse"></part>
</message>
<message name="creditAccount">
<part name="parameters" element="tns:creditAccount"></part>
</message>
<message name="creditAccountResponse">
<part name="parameters" element="tns:creditAccountResponse"></part>
</message>
<portType name="IAccountService">
<operation name="createAccount">
<input wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/createAccountRequest" message="tns:createAccount"></input>
<output wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/createAccountResponse" message="tns:createAccountResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/createAccount/Fault/Exception"></fault>
</operation>
<operation name="getAccountByCustomerId">
<input wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/getAccountByCustomerIdRequest" message="tns:getAccountByCustomerId"></input>
<output wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/getAccountByCustomerIdResponse" message="tns:getAccountByCustomerIdResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/getAccountByCustomerId/Fault/Exception"></fault>
</operation>
<operation name="debitAccount">
<input wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/debitAccountRequest" message="tns:debitAccount"></input>
<output wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/debitAccountResponse" message="tns:debitAccountResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/debitAccount/Fault/Exception"></fault>
</operation>
<operation name="creditAccount">
<input wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/creditAccountRequest" message="tns:creditAccount"></input>
<output wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/creditAccountResponse" message="tns:creditAccountResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.Contracts.ServiceLibrary.module11.codeexamples.net/IAccountService/creditAccount/Fault/Exception"></fault>
</operation>
</portType>
<binding name="AccountServicePortBinding" type="tns:IAccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAccountByCustomerId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="debitAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="creditAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AccountServiceService">
<port name="AccountServicePort" binding="tns:AccountServicePortBinding">
<soap:address location="http://localhost:9999/ws/hello"></soap:address>
</port>
</service>
</definitions>